* {
    color: white; /* Makes all text white */
  }

.root, html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.body {
    background: #C655BE; /* Fallback for old browsers */
    background: -moz-linear-gradient(to top, #131414 0%, #2f2530 100%); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#131414), color-stop(100%,#2f2530)); /* Chrome,Safari 4+ */
    background: -webkit-linear-gradient(to top, #131414 0%, #2f2530 100%); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(to top, #131414 0%, #2f2530 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(to top, #131414 0%, #2f2530 100%); /* IE10+ */
    background: linear-gradient(to top, #131414 0%, #2f2530 100%); /* W3C, standard */
    width: 100%;
    min-height: 100vh; /* Ensure body covers entire viewport height */
}


h1 {
    text-align: center;
}


