.day-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.day-child-container {
  width: 80%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

table {
  border-spacing: 0px; 
  width: 100%; 
}

td {
  padding: 3px; 
}

/* Responsive Design */
@media (max-width: 768px) {
  .day-container {
      flex-direction: column; 

      width: 100%;
  }

  .day-child-container {
      width: 100%; 

  }

  table {
      font-size: 0.85rem; 
      width: 100%; 
  }

  td {
      padding: 2px;
      
  }
  input {
    width: 80%;
  }

}

.day-flex-buttons {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 5px; 
}

.day-flex-buttons button {
  width: 100%;
  height: 5vh;
  font-size: 0.6rem;
  background-color: #e63225;
  
}