.day-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.day-child-container {
  width: 80%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

table {
  border-spacing: 0px; /* Adds space between rows */
  width: 100%; /* Keeps the table width consistent */
}

td {
  padding: 3px; /* Adds space inside each cell */
}

/* Responsive Design */
@media (max-width: 768px) {
  .day-container {
      flex-direction: column; /* Adjusts layout for smaller screens */

      width: 100%;
  }

  .day-child-container {
      width: 100%; /* Reduces width to fit smaller screens */

  }

  table {
      font-size: 0.85rem; /* Reduces font size for smaller screens */
      width: 100%; /* Ensures the table fits within the container */
  }

  td {
      padding: 2px; /* Adds smaller padding for compact design */
      
  }
  input {
    width: 80%;
  }

}

.day-flex-buttons {
  display: flex; /* Flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center buttons horizontally */
  gap: 5px; /* Space between buttons (optional) */
}

.day-flex-buttons button {
  width: 100%;
  height: 5vh;
  font-size: 0.6rem;
  background-color: #e63225;
  
}