.WorkoutNavBar {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.WorkoutNavButton {
padding: 10px 20px;
cursor: pointer;
background: #e63225;
color: #fff;
border: none;
border-radius: 5px;
}


.NavBar {
    display: flex;                   /* Use flexbox for layout */
    justify-content: center;          /* Centers the items horizontally */
    align-items: center;              /* Align items vertically */
    background-color: #333;
    padding: 10px 20px;               /* Add padding for spacing */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.NavButton {
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;                     /* White text */
    border: none;
    border-radius: 5px;              /* Rounded corners */
    text-decoration: none;           /* Remove underline from links */
    margin: 0 10px;                  /* Add some space between the buttons */
    transition: background 0.3s;     /* Smooth hover effect */
}

/* Hover Effect */
.NavButton:hover {
    background: #c12922;             /* Darken the background on hover */
}