.WorkoutNavBar {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.WorkoutNavButton {
    padding: 10px 20px;
    cursor: pointer;
    background: #e63225;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.NavButton {
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px;
    transition: background 0.3s;
}


.NavButton:hover {
    background: #c12922;
}


@media (max-width: 768px) {
    .WorkoutNavBar {
        flex-direction: column;
        gap: 5px;
        width: 90%;
        align-items: center;
    }


    .WorkoutNavButton {
        width: 40%;
        border-radius: 15px;
    }
}
